# Arquivos compilados Java
*.class

# Pasta de compilação
bin/

# Arquivos executáveis
*.exe
*.out

# Arquivos temporários
*.log
*.tmp

# Configurações de IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db